parameters:
    projection_types:
        - App\Api\Projection\UserProjection
    env(ELASTICSEARCH_PROJECTION_INDEX): 'projections_%kernel.environment%'

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false
        bind:
            '$index': '%env(ELASTICSEARCH_PROJECTION_INDEX)%'
            '$dataProviders':
                - ['@MsgPhp\User\Repository\UserRepository', findAll]
            '$documentProvider': '@MsgPhp\Domain\Projection\ProjectionDocumentProvider'

    # Document identity
    App\Api\Projection\Document\DocumentIdentity: ~

    # Document transformer
    App\Api\Projection\Document\Transformer\:
        resource: '../../src/Api/Projection/Document/Transformer'
    App\Api\Projection\Document\DocumentTransformer:
        tags: [container.service_subscriber]
    MsgPhp\Domain\Projection\ProjectionDocumentTransformer: '@App\Api\Projection\Document\DocumentTransformer'

    # Document provider
    MsgPhp\Domain\Projection\ProjectionDocumentProvider: ~

    # Repository
    MsgPhp\Domain\Infrastructure\Elasticsearch\ProjectionRepository: ~
    MsgPhp\Domain\Projection\ProjectionRepository: '@MsgPhp\Domain\Infrastructure\Elasticsearch\ProjectionRepository'

    # Type registry
    MsgPhp\Domain\Infrastructure\Elasticsearch\ProjectionTypeRegistry:
        arguments:
            '$mappings': '%projection_types%'
    MsgPhp\Domain\Projection\ProjectionTypeRegistry: '@MsgPhp\Domain\Infrastructure\Elasticsearch\ProjectionTypeRegistry'

    # Synchronization
    MsgPhp\Domain\Projection\ProjectionSynchronization: ~

    # Console
    MsgPhp\Domain\Infrastructure\Console\Command\InitializeProjectionTypesCommand: ~
    MsgPhp\Domain\Infrastructure\Console\Command\SynchronizeProjectionsCommand: ~

    # API Platform
    MsgPhp\Domain\Infrastructure\ApiPlatform\ProjectionDataProvider: ~

    # Messenger
    MsgPhp\Domain\Projection\Command\Handler\DeleteProjectionDocumentHandler:
        tags:
            - { name: messenger.message_handler, bus: command_bus }
    MsgPhp\Domain\Projection\Command\Handler\SaveProjectionDocumentHandler:
        tags:
            - { name: messenger.message_handler, bus: command_bus }
