security:
    encoders:
        MsgPhp\User\Infra\Security\SecurityUser: bcrypt

    providers:
         msgphp_user: { id: MsgPhp\User\Infra\Security\SecurityUserProvider }
         msgphp_user_jwt: { id: MsgPhp\User\Infra\Security\Jwt\SecurityUserProvider }

    firewalls:
        api_login:
            pattern: ^/api/login
            stateless: true
            anonymous: true
            provider: msgphp_user_jwt
            form_login:
                check_path: /api/login-check
                success_handler: lexik_jwt_authentication.handler.authentication_success
                failure_handler: lexik_jwt_authentication.handler.authentication_failure
                require_previous_session: false

        api:
            pattern: ^/api
            stateless: true
            anonymous: true
            provider: msgphp_user_jwt
            guard:
                authenticators:
                    - lexik_jwt_authentication.jwt_token_authenticator

        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            anonymous: ~
            provider: msgphp_user
            user_checker: App\Security\UserChecker
            logout_on_user_change: true
            form_login:
                login_path: login
                check_path: login
                default_target_path: index
                username_parameter: email
                password_parameter: password
                remember_me: true
            remember_me:
                secret: '%kernel.secret%'
                remember_me_parameter: remember_me
            logout:
                path: logout
            switch_user:
                role: ROLE_ADMIN
            oauth:
                login_path: /login
                failure_path: /login
                resource_owners:
                    google: /oauth/login-check/google
                    facebook: /oauth/login-check/facebook
                oauth_user_provider:
                    service: App\Security\OauthUserProvider

    access_control:
        - { path: ^/(api/|oauth/)?login, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/register, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/(forget|reset)\-password, roles: IS_AUTHENTICATED_ANONYMOUSLY }

        #- { path: ^/api/me, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/my\-account, roles: IS_AUTHENTICATED_FULLY }
