security:
    encoders:
        MsgPhp\User\Infra\Security\SecurityUser: bcrypt

    providers:
         msgphp_user: { id: MsgPhp\User\Infra\Security\SecurityUserProvider }
         msgphp_user_jwt: { id: MsgPhp\User\Infra\Security\Jwt\SecurityUserProvider }

    firewalls:
        api_login:
            pattern:  ^/api/login
            stateless: true
            anonymous: true
            provider: msgphp_user_jwt
            form_login:
                check_path:               /api/login_check
                success_handler:          lexik_jwt_authentication.handler.authentication_success
                failure_handler:          lexik_jwt_authentication.handler.authentication_failure
                require_previous_session: false

        api:
            pattern:   ^/api
            stateless: true
            anonymous: true
            provider: msgphp_user_jwt
            guard:
                authenticators:
                    - lexik_jwt_authentication.jwt_token_authenticator

        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            provider: msgphp_user
            user_checker: App\Security\UserChecker
            anonymous: ~
            form_login:
                login_path: login
                check_path: login
                default_target_path: index
                username_parameter: email
                password_parameter: password
                remember_me: true
            remember_me:
                secret: '%kernel.secret%'
                remember_me_parameter: remember_me
            logout:
                path: logout
            switch_user:
                role: ROLE_ADMIN
            logout_on_user_change: true
            oauth:
                login_path: /oauth/login
                failure_path: /oauth/login
                resource_owners:
                    google: /oauth/login-check/google
                    facebook: /oauth/login-check/facebook
                oauth_user_provider:
                    service: App\Security\OauthUserProvider
