security:
    encoders:
        MsgPhp\User\Infrastructure\Security\SecurityUser: bcrypt

    # https://symfony.com/doc/current/security.html#where-do-users-come-from-user-providers
    providers:
        msgphp_user: { id: MsgPhp\User\Infrastructure\Security\SecurityUserProvider }
        msgphp_user_jwt: { id: MsgPhp\User\Infrastructure\Security\Jwt\SecurityUserProvider }
    firewalls:
        api_login:
            pattern: ^/api/login
            anonymous: true
            stateless: true
            provider: msgphp_user_jwt
            json_login:
                check_path: api_login
                username_path: email
                password_path: password
                success_handler: lexik_jwt_authentication.handler.authentication_success
                failure_handler: lexik_jwt_authentication.handler.authentication_failure

        api:
            pattern: ^/api
            anonymous: true
            stateless: true
            provider: msgphp_user_jwt
            guard:
                authenticators:
                    - lexik_jwt_authentication.jwt_token_authenticator

        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            anonymous: true
            provider: msgphp_user
            user_checker: App\Security\UserChecker
            form_login:
                login_path: login
                check_path: login
                default_target_path: home
                username_parameter: email
                password_parameter: password
                remember_me: true
            remember_me:
                secret: '%kernel.secret%'
                remember_me_parameter: remember_me
            logout:
                path: logout
            switch_user:
                role: ROLE_ADMIN
            oauth:
                login_path: /login
                failure_path: /login
                resource_owners:
                    google: /oauth/login-check/google
                    facebook: /oauth/login-check/facebook
                oauth_user_provider:
                    service: App\Security\OauthUserProvider
            guard:
                authenticators:
                    - App\Security\OneTimeLoginAuthenticator

    # Easy way to control access for large sections of your site
    # Note: Only the *first* access control that matches will be used
    access_control:
        - { path: ^/profile, roles: ROLE_USER }
