<?php

use PhpCsFixer\Config;
use PhpCsFixer\Finder;

$rules = [
    '@PSR2' => true,
    '@Symfony' => true,
    '@Symfony:risky' => true,
    '@PHP70Migration' => true,
    '@PHP70Migration:risky' => true,
    '@PHP71Migration' => true,
    '@PHP71Migration:risky' => true,
    '@PHPUnit60Migration:risky' => true,
    'array_syntax' => ['syntax' => 'short'],
    'compact_nullable_typehint' => true,
    'explicit_string_variable' => true,
    'fully_qualified_strict_types' => true,
    'list_syntax' => ['syntax' => 'short'],
    'php_unit_test_case_static_method_calls' => ['call_type' => 'self'],
    'single_import_per_statement' => false,
    'combine_consecutive_unsets' => true,
    'escape_implicit_backslashes' => true,
    'explicit_indirect_variable' => true,
    'heredoc_to_nowdoc' => true,
    'multiline_comment_opening_closing' => true,
    'multiline_whitespace_before_semicolons' => ['strategy' => 'new_line_for_chained_calls'],
    'no_alternative_syntax' => true,
    'no_binary_string' => true,
    'no_null_property_initialization' => true,
    'no_short_echo_tag' => true,
    'no_useless_else' => true,
    'no_useless_return' => true,
    'ordered_class_elements' => true,
    'ordered_imports' => true,
    'phpdoc_add_missing_param_annotation' => true,
    'phpdoc_order' => true,
    'phpdoc_trim_consecutive_blank_line_separation' => true,
    'phpdoc_types_order' => true,
    'single_line_comment_style' => true,
    'comment_to_phpdoc' => true,
    'logical_operators' => true,
    'no_unreachable_default_argument_value' => true,
    'no_unset_on_property' => true,
    'strict_comparison' => true,
    'strict_param' => true,
    'string_line_ending' => true,
];

return Config::create()
    ->setUsingCache(true)
    ->setCacheFile(__DIR__.'/var/cache/php_cs.cache')
    ->setRules($rules)
    ->setRiskyAllowed(true)
    ->setFinder(Finder::create()->in(__DIR__))
;
