{% extends 'base.html.twig' %}

{% block flashes %}
    {{ parent() }}

    {% if error is defined and error %}
        {% include 'partials/flashes.html.twig' with {flashes: {error: [error]}} only %}
    {% endif %}
{% endblock %}

{% block body %}
    <h1>Login using OAuth</h1>

    {% include 'partials/oauth_providers.html.twig' %}
{% endblock %}
