{% set icons = {
    success: '✔ ',
    error: '✗ ',
    warning: '⚠ ',
} %}
<ul>
{% for label, messages in flashes %}
    {% for message in messages %}
        <li>{{ (icons[label]|default('')) ~ message }}</li>
    {% endfor %}
{% endfor %}
</ul>
