{% extends 'email.html.twig' %}

{% block body %}
    {% set url = url('email_confirm', {token: userEmail.confirmationToken}) %}
    <p>Confirm your e-mail at <a href="{{ url }}">{{ url }}</a></p>
{% endblock %}
