{% extends 'base.html.twig' %}

{% block body %}
    <h1>Forgot Your Password?</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.email, {label: 'E-mail', translation_domain: false}) }}

        <div>
            <input type="submit" value="Request password" />
        </div>
    {{ form_end(form) }}
{% endblock %}
